.footertext {
  background-color: white;
  bottom: 0px
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:black;
  text-align: center;
}

.githubname {
  padding: 10px;

}
