@import 'variables';


@media only screen and (max-width: 375px) {
  .section {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding: 10px;
    // min-height: 50px;
  }    
}


.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.182);
  
}

.catagoryandHashtags h5 {
  color:black
}

.sidebar {
  flex: 15%;
  background-color: #ffffff;
}

.sidebarContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.category {
  font-size: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  margin: 2vh;
  color: black;
  text-transform: capitalize;
}

.categoryActive {
  background-color: #ff005f;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  margin: 2vh;
  text-transform: capitalize;
  
}

.ClickToShowDetails:hover {
  background-color: #ff005f;
  padding-top: 10px;
  border-radius: 5px;
}

.category:hover {
  cursor: pointer;
  background-color: #ff005f;
  color: white;
  
}

.sidebarContent h3 {
  font-size: 35px;
}


.gridContainer {
  display: flex;
  color: #777;
  flex-wrap: wrap;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.soundPreviewContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 10px ;
  // width: 50%;

  .wavimg {
    width: 96%;
    margin-left: 2%;
  }

  .audiofile {

    height: 50px;
    width: 95%;
    margin-left: 2.5%;
  }
  
  .h5SoundList {
    text-align: center;
    font-size: 25px;
    margin: 5px;
    text-transform: capitalize;
    color:black
  }
  
  .catagoryandHashtags {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 2%;
    text-transform: capitalize;
    color:black
  
  }
  
  .hashtags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: lowercase;
  }
  
  .hashtag {
    font-size: small;
    margin: 0 5px 0 5px;
  }
  
  .hashtag:hover {
    color: #1114e6;
  }
  
  .date p {
    
    color: black;
    font-size: small;
  }
  .userdate {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    width: 96%;
    margin: 10px 2%;
    color:black
  }
  
  .userinfo {
    display: flex;
    text-transform: capitalize;
    color:black;
    align-items: center;
  }
  .userAvatar {
    border-radius: 100px;
    height: 40px;
    margin-right: 5px;
    
  }
  

}

.footertext {
  padding: 10px;
}


