

.my-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  // filter: grayscale(100%)
}


#register{
  border: 1px solid;
  padding: 50px;
  margin-top: 100px;
  // background: linear-gradient(60deg, rgb(137, 210, 223) 50%, rgb(238, 108, 162) 50%);
}


//  S E A R C H B A R   C O M P O N A N T
.SearchBarcomponant {
  margin-bottom: 40px;
}

.searchbar {
  width: 90%;
  margin: 30px 5% 0px 5%;
  height: 40px;
  border-radius: 10px;
  border: solid 1px black;
}
.name_container{
  padding: 5px 0px;
  text-align: right;
  width: 96%;
  margin: 5px 2%;
  padding-top: 15px;
  border-bottom: rgb(192, 192, 192) 0.5px solid;
}
.name {
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: left;
}
.resultsContainer {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  position: absolute;
  z-index: 1;
}
