

.my-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  // filter: grayscale(100%)
}


#register{
  border: 1px solid;
  padding: 50px;
  margin-top: 100px;
  // background: linear-gradient(60deg, rgb(137, 210, 223) 50%, rgb(238, 108, 162) 50%);
}