// R E G I S T E R  P A G E

.hero {
  margin-top: 100px;
}
.registerBackground {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(#000000 50%);
  filter: grayscale(100%)
}

// .errors {
//   color: #ed4812 !important;
// }
small {
  font-size: 20px;
  color: #ff0000 !important;
  background-color: #000000af;
}

// #register{
//   border: 1px solid;
//   padding: 50px;
//   margin-top: 100px;
//   background: linear-gradient(30deg,  #000000 50%,  #ff005f 80%);
// }
