@import 'variables';




.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  
  
}

.catagoryandHashtags h5 {
  color:black;
  height: 50px;
}

.sidebar {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100vh;
  // position: relative;
}

.sidebarContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.allsounds {
  font-size: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  margin: 2vh;
  color: white;
  // text-transform: none;
}

.allsoundsActive {
  background-color: #ff005f;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  margin: 2vh;
  
}

.category {
  font-size: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  margin: 2vh;
  color: white;
  text-transform: capitalize;
}


.categoryActive {
  background-color: #ff005f;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  margin: 2vh;
  text-transform: capitalize;
  
}



.ClickToShowDetails:hover {
  background-color: #ff005f;
  padding-top: 10px;
  border-radius: 5px;
}

.category:hover {
  cursor: pointer;
  background-color: #ff005f;
  color: white;
  
}

.sidebarContent h3 {
  font-size: 35px;
}

@media screen and (min-width: 1024px) {

  .sidebarContent, .category, h3, p {
    // font-size: 15px;
    align-items: center;
    margin-left: 0;
    
    p {
      font-size: 35px;
    }
  }

  .categoryActive {
    // font-size: 15px;
    padding: 5px;
    width: 80%;
    margin-left: 1%;
    
  }

  .sidebar {
    width: 20%;
    // height: 120vh;
    
  }
  

  .gridContainer {

    .grid {
      margin: 30px;

    }
  display: flex;
  width: 100vw;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
 
  .soundPreviewContainer {
    width: 30vw;
    justify-content: center;
    margin: 10px;
  }
  .wholeCard {
    width: 30vw;
    justify-content: center;
  

    .innerCard {
      width: 30vw;
      justify-content: center;
    
    }
  
  }


}


}


@media screen and (min-width: 280px), 
screen and (max-width: 1024px){
  .sidebarContent, .category, h3, p {
    font-size: 15px;
    align-items: center;
    margin-left: 0;
    
  }

  .categoryActive {
    font-size: 15px;
    padding: 5px;
    width: 80%;
    margin-left: 1%;
    
  }

  
  .gridContainer {
    width: 80%;
  }
  .soundPreviewContainer {
    width: 50vw;
  }
  // .wholeCard {
  //   width: 50vw;
  //   justify-content: center;
  
  // }


  .gridContainer {
  display: flex;
  // width: 100vw;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;

  }
}


@media only screen and (max-width: 280px) {
  .section {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding: 0px;
    min-height: 50px;
  }    
}

@media screen and (min-width: 260px),
screen and (max-width: 800px)  {
  
  .grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  
  .soundPreviewContainer {
    background-color: #c1bfbf;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 34px ;
    width: 30vw; // to change the whole card this size should be the same as the .wholeCard below
    
    .wholeCard {
      width: 30vw;
      justify-content: center;
      
    }
  
    .innerCard {
      width: 30vw;
      justify-content: center;
    
    }
    
    .wavimg {
      width: 96%;
      margin-left: 2%;
      
    }
    
    .audiofile {
      
      height: 50px;
      width: 95%;
      margin-left: 2.5%;
    }
    
    
    
    .h5SoundList {
      text-align: center;
      font-size: 25px;
      margin: 5px;
      text-transform: capitalize;
      color:black
    }
    
    .catagoryandHashtags {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 10px 2%;
      text-transform: capitalize;
      color:black
      
    }
    
    .hashtags {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-transform: lowercase;
    }
    
    .hashtag {
      font-size: small;
      margin: 0 5px 0 5px;
    }
    
    .hashtag:hover {
      color: #1114e6;
    }
    
    .date p {
      
      color: black;
      font-size: small;
    }
    .userdate {
      display: flex;
      justify-content: space-between;
      display: flex;
      align-items: baseline;
      width: 96%;
      margin: 10px 2%;
      color:black
    }
    
    .userinfo, h5 {
      display: flex;
      text-transform: capitalize;
      color:black;
      align-items: center;
    }
    .userAvatar {
      border-radius: 100px;
      height: 40px;
      margin-right: 5px;
      
    }
    
    
  }

  .soundPreviewContainer {
    width: 50vw;
    justify-content: center;
  }
  .wholeCard {
    width: 50vw;
    justify-content: center;
  

    .innerCard {
      width: 50vw;
      justify-content: center;
    
    }
  
  }
  
}


.footertext {
  padding: 10px;
}
