@import 'variables';



.containerBody {
  background-color: rgb(0, 0, 0);
  // width: 50%;
  // margin-left: 25%;
  display: flex;
  // align-items: center;
  flex-direction: column;
  margin: 50px 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  
  .profile {
    display: flex;
    // background-color: blue;
    justify-content: space-between;
    // padding: 0 30px;
  
  }

  .avatarHeader {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
  .username{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .avatarIcon {
    
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    align-items: center;
    width: 100px;
    
    
  
  }
  
  .img {
    width: 100px;
    border-radius: 100%;
    padding: 10px
    
  }
  .usernameP {
    text-transform: capitalize;
    // background-color: pink;
    margin: 0px
  }
  
  .hashtagContainer {
    // background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  
  .audiocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .bannerContainer {
    display: flex;
    flex-direction: row;
    // width: 100vw;
    position: relative;

  
  }

  .banner {
    background-color: #ffffffbf;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    // padding: 10px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .banner p {
    color: black;
  }
  
  .banner h2 {
    color: black;
  }

  
  .tracktitle {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    font-size: xx-large;
    text-transform: capitalize;
  }


@media screen and (max-width: 375px){
  .tracktitle {
    font-size: 20px;
  }
  
}
  
  
  .categories {
    h2.title.is-2 {
      margin-bottom: 0px;
    }
    
    span, p {
      font-size: smaller;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    
    
  }
  
  
  .audioMedia {
    display: flex;
    flex-direction: row;
    // width: 100vw;
    justify-content: center;
    max-height: 300px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .mediaPlayer {
    margin:10px;
    width: 90%;
    // margin-left: 10%;
    
  }
  
  // audio.media {
  //   // display: block;
  //   justify-content: center;
  //   height: 52px;
  //   padding: 0;
  //   width: 100%;
  // }

  @media screen and (max-width: 375px){
    .mediaPlayer {
      display: flex;
      width: 100%;
    }
    
  }
  
  
    
  
  
  
  
  // SoundShow -- Comments Section 
  
  
  .commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 100vw;
    border: solid 1px rgba(128, 128, 128, 0.409);
    border-radius: 5px;  
    padding: 0px;
    border-width: 1px;
  }
  
  h4 {
    padding: 5px;
    font-size: large;
    text-decoration: underline;
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  
  
  .commentsContent {
    max-width: 100%;
    // background-color: rgba(0, 0, 255, 0.415);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
  }

  

  .commentTextarea {
    // display: flex;
    height: 100px;
    width:400px;
    text-align: center;
    // width:80%;
    // margin: 0 10%;
    
  }
  
  @media screen and (min-width: 375px) {
    .commentTextarea {
      // display: flex;
      height: 50px;
      width:200px;
      text-align: center;
      // width:80%;
      // margin: 0 10%;
      
    }
  
  }
  
  
  
  .commentMedia {
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    // align-items: center;
    // width :70%;
    // flex: 1, 100px;
    margin: 15px 10px;
    // border: solid 1px rgba(128, 128, 128, 0.409);
    border-radius: 5px;  
    align-items: flex-end;
    padding: 5px;
  
    
    .commentavatar {
      // background-color: rgba(255, 6, 89, 0.434);
      display: flex; 
      // flex: 1;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-around;
      text-transform: capitalize;
      max-width: 100vw;
      max-height: 100vh;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 5px;
      color:white;    
      background-color: black

    }
    .username {
      display: flex;
      justify-content: center;
      
    }
    
    
    .imgavatar {
        max-width: 100px;
        padding: 10px;
        border-radius: 100px;
    }
    
      
    
      
  }
  .commentbox {
    // min-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // height: 100px;
    width: 100%;
  }

  @media screen and (max-width: 414px){
    .commentbox {
      // min-width: 10%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      // height: 100px;
      // width: 100%;

      .usertext {
        // min-width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
       
        // border: solid 1px rgba(128, 128, 128, 0.409);
        border-radius: 5px;  
        margin: 5px;  
       
          padding: 0px 5px;
          
          
          p {
            padding: 0px;
            // font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 10px  ;;
            margin-bottom: 0px;
            
          }
      
          .spanText {
            font-size: 11px;
          }
        }
    
    }
  }
  .usertext {
    // min-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
    // border: solid 1px rgba(128, 128, 128, 0.409);
    border-radius: 5px;  
    margin: 5px;  
   
      padding: 0px 5px;
      
      
      p {
        padding: 0px;
        // font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
        margin-bottom: 0px;
        
      }
  
      .spanText {
        font-size: 11px;
      }
    }
  
  
  
  
  
  .mediaContentCommentbox {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // width: 100px;
    
    .buttonSubmitComment {
   
      max-width: 100vw;
      margin: 0px 10%;
      background-color: $primary-color;
      color:white;
      padding: 10px;
      border:none;
      border-radius: 5px;
    }
  }
    
    
  
  
  .lastcommentbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100vw;
    max-height: 100vh;
    padding: 10px;
    
  
    .commentTextarea {
      display: flex;
      // align-items: center;
      // justify-content: space-around;
        max-width: 100vw;
        border-radius: 5px;
    }
    
  }
  
  .dateCreated { 
    color: black;
    font-size: 10px;
  }
  @media only screen and (max-width: 414px) {
    .dateCreated {
      font-size: 6px;
    }
  }
  
  .postedCommentText {
    align-self: flex-start;
    display: flex;
    color: black;
    margin-bottom: 0px;
    font-size: 14px;
  }

  @media screen and (max-width: 375px) {
    .postedCommentText {
      align-self: flex-start;
      color: black;
      margin-bottom: 0px;
      font-size: 10px;
    }
    
  }
  
  .buttondelete {
    // width: 80%;
    display: flex;
    align-content: flex-end;
    margin: 0px 10%;
    background-color: $secondary-color;
    color:white;
    padding: 10px;
    border:none;

    

  }

  .deletepost {
    // margin: 0px 80%; 
   
      .buttondelete {
        width: 100px;
        background-color: $secondary-color;
        color:white;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
  
  }
  
  
  
  // Delete Modal styling
  .modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modalcontent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 0.5px solid #888;
    width: 80%;
    color: black
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
  
    .card-content {
      display: flex;
      justify-content: center;
    }
  
  
      img {
        // width: 10px;
        padding: 0px;
        border-radius: 100px;
      }
      
      p {
        display: flex;
        align-items: center;
        padding: 5px 10px;
      }    
    }
    
    // .container {
  //   width: 100px;
  // }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
  }
  
  
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modalcontent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  
  .usertext {
    font-size: 20px;
    display: flex;

  }
  
  .dateCreatedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
    align-items: flex-end;
  
  }

}



@media only screen and (max-width: 1200px) {
  .containerBody  {
    font-size: 20px;
    margin: 50px 200px;
    

    
  }
}
@media only screen and (max-width: 600px) {
  .containerBody  {
    font-size: 15px;
    margin: 50px 50px;
    padding: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .containerBody  {
    font-size: 12px;
    margin: 50px 50px;
    padding: 6px;
  }
}

@media screen and (max-width: 375px) {
  .profile {
    // padding: 0 30px;
    align-items: flex-start;
  }
  
}

@media only screen and (max-width: 375px) {
  .avatarHeader .avatarIcon .img {
    width: 50px;
    height: 50px;
    // padding: 0px;
    // margin: 0px;
    // align-items: flex-start;
    
  }
}
@media only screen and (max-width: 412px) {
  .imgavatar {
    width: 50px;
    height: 50px;
    
    
  }
}

